{% extends 'base.html.twig' %}

{% block title %}Hello Howsy!{% endblock %}

{% block body %}
    <div class="m-4">
        <h1 class="h1">Add a property</h1>
        <div>

            <div class="form-group">
                <label for="field">Select field</label>
                <select class="key-up form-control" id="field">
                    <option value="addressline1" selected>Address</option>
                </select>
            </div>
            <div class="form-group">
                <label for="term">Term</label>
                <input type="text" class="key-up form-control" id="term" placeholder="term to search">
            </div>
        </div>
        <p>
            <button class="btn-outline-dark btn howsy-ajax-call mr-2"
                    data-method="POST"
                    data-body=''
                    data-endpoint="{{ path('rest_add') }}">Add Property
            </button>
            <a class="btn btn-outline-success ml-3" href="{{ path('dashboard') }}">Go Back</a>

        </p>
        <h3 class="h3">Response</h3>

        <div class="row m-4">
            <section class="api__result">
                <div class="api__result__status"></div>
                <div class="api__result__data"></div>
            </section>
        </div>
    </div>
{% endblock %}
